<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    <title>Some Messages - a micro forum</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link
      href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
      rel="stylesheet"
      type="text/css"
    />

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/barebones.css') }}"
    />

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon-16.png" />
  </head>
  <body>
    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="grid-container"></div>
    <div class="grid-container full">
      <form class="" action="/" method="GET">
        <input style="width: 80%;" type="text" name="nm" autofocus /><br /><br />
      </form>
    </div>
    <div class="grid-container full">
      <div class="u-align-left">
        {% if message_items %} {% for message_item in message_items %}
        <div class="grid-container small-big-thirds">
          <div class="u-align-right">
            <em>{{ message_item["time"] }}</em>
          </div>
          <div class="u-align-left line-break">
            <article>{{ message_item["msg"] }}</article>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
